<%= JSON.stringify(data) %>

<form action="/api/movies" method="post"><br>
    <label for="">Title</label>
    <input title="title" type="text"><br>
    <label for="">Genres</label>
    <input genres="genres" type="text"><br>
    <label for="">Year</label>
    <input year="year" type="text"><br>
    <label for="">Photo</label>
    <input photo="photo" type="file"><br>

    <input type="submit">
</form>